.login{
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginWrapper{
    width: 70%;
    height: 70%;
    display: flex; 
}

.loginLeft,.loginRight{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loginLogo{
    font-size: 45px;
    font-weight: bold;
    color: tomato;
    margin-bottom: 10px;
}

.loginDesc{
    font-size:24px ;
}
.loginBox{
    height: 300px;
    padding: 20px;
    background-color: #fff;
    background-repeat: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loginInput{
    height: 50px;
    background-repeat: 10px;
    border:none;
    border-color: grey;
    border-radius: 5px;
    margin-top: 10px;
    font-style: 18px;
    padding-left: 20px;
}

.loginInput:focus{
    outline: none;
}

.loginButton{
    height: 50px;
    margin-top: 10px;
    background-repeat: 10px;
    border-radius: 5px;
    border: none;
    background-color: tomato;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;   
}
.loginForgot{
    text-align: center;
    color: tomato;
}

.loginregisterButton{
    width: 60%;
    align-self: center;
    height: 50px;
    margin-top: 10px;
    background-repeat: 10px;
    border: none;
    border-radius: 5px;
    background-color:rgb(73, 209, 73);
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer; 
}